body {
    margin: 0px;
}

.form_area {
    height: 600px;
    width: 600px;
    margin: 50vh auto 0;
    transform: translateY(-50%);
    background-color: bisque;
}

.form_contents {
    height: 500px;
    width: 500px;
    margin: 50vh auto 0;
    transform: translateY(10%);
    background-color: white;
}

h1 {
    padding-top: 10px;
    text-align: center;
}
